p {
    font-size: x-large;
    color: rgb(153, 30, 98);

    }


h1 {
background-color: rgb(146, 30, 117);
}

.aluna{
    color: rgb(204, 72, 138);
    text-align: 2ex;
}
#b{
    text-align: center;
    background-color: rgb(206, 68, 149);
}


.Buque{
    width:400px;
    height:300px;
    border-radius: 50px;

}

.Buque2{
    width: 400px;
height: 300px;
border-radius:  50px;



}

 
.bolsa1{

    width: 400px;
height: 300px;
border-radius:  50px;
}

.bolsa1{
    width: 400px;
    height: 300px;
    border-radius:  50px;

}

.bolsa1{
    width: 400px;
    height: 300px;
    border-radius:  50px;
}


.flex-container {
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
}

.flex-item {
background-color: rgb(255, 255, 255);
height: 50px;
width: 50px;
line-height: 50px;
font-size: x-large;
color: rgb(71, 4, 49);
margin: 5px;
}
.linha {
    flex-direction:row ;
    justify-content: space-around;
}
aluna-reversa {
    float: left;
    flex-direction: column-reverse;
}
h1 {
    background-color: rgb(223, 28, 142); color: rgb(134, 79, 148);"
}
body{
    "background-color: rgb(255, 247, 247);"
}